<component name="ArtifactManager">
  <artifact type="war" name="SpringMybatise:war">
    <output-path>$PROJECT_DIR$/SpringMybatise/target</output-path>
    <root id="archive" name="ssmdemo1.war">
      <element id="artifact" artifact-name="SpringMybatise:war exploded" />
    </root>
  </artifact>
</component>